body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff2cc;
  background-size: cover;
  padding-top: 15vh;
}

.flex-container {
  z-index: 1;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

h1{
  font-size: 180px;
  line-height: 180px;
  font-weight: 200;
  text-shadow: 0 .5rem .7rem rgba(128,77,0,.8);
}

h2{
  font-size: 40px;
  line-height: 40px;
  font-weight: 150;
  text-shadow: 0 .3rem .3rem rgba(51,31,0,.9);
}

.self-button {
  line-height: 3.0;
  border: 2px rgba(255,255,255,0.8);
  font-size: 3em;
  color: white;
  padding: 5px 30px;
  background: rgba(255,255,255,0.4);
  border-radius: 5px;
  opacity: 0.8;
  text-shadow: 0 .3rem .5rem rgba(51,31,0,.9);
}

/*#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}*/

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://github.com/sxycarole/seed/blob/master/huaer06.jpeg?raw=true);
}
.slideshow li:nth-child(2) { 
  background-image: url(https://github.com/sxycarole/seed/blob/master/huaer04.jpeg?raw=true);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://github.com/sxycarole/seed/blob/master/huaer05.jpeg?raw=true);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://github.com/sxycarole/seed/blob/master/huaer02.jpeg?raw=true);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://github.com/sxycarole/seed/blob/master/huaer01.jpeg?raw=true);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}
